<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='post_finance'
				translate='label'
				sortOrder='1615'
				showInDefault='1'
				showInWebsite='1'
				showInStore='1'
			>
				<label>PostFinance</label>
				<dfExtension>Dfe_PostFinance</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
<!-- 2017-08-21
I do not prodive a control for the «Compose the string to be hashed by concatenating the value of» option
because its «Main parameters only» value is legacy and is not ever mentioned in the PostFinance documentation.
I have found its description and meaning in an Ogone module:
https://github.com/marlon-be/marlon-ogone/blob/3.1.3/lib/Ogone/ShaComposer/LegacyShaComposer.php#L43-L64
-->
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/postfinance' target='_blank'>PostFinance</a>» payment extension?
<br/>You should setup the «<a href='https://mage2.pro/t/4361' target='_blank'>Compose the string to be hashed by concatenating the value of</a>» option in the PostFinance merchant interface.
]]></comment>
				</field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/4305' target='_blank' title='[PostFinance] The test bank cards'>The test bank cards</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testMerchantID'
					translate='label'
					type='text'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>[Test] PSPID</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4349' target='_blank'>What is get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPassword1'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>[Test] SHA-IN pass phrase</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4355' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPassword2'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='obscure'
				>
					<label>[Test] SHA-OUT pass phrase</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4359' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testHashAlgorithm'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='select'
				>
					<label>[Test] Hash algorithm</label>
					<source_model>Dfe\PostFinance\Source\Hash\Algorithm</source_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/4362' target='_blank' title='[PostFinance] How to setup the «Hash algorithm» option?'>How to choose the right value?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveMerchantID'
					translate='label'
					type='text'
					sortOrder='10'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>[Live] PSPID</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4349' target='_blank'>What is get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePassword1'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='obscure'
				>
					<label>[Live] SHA-IN pass phrase</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4355' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePassword2'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='obscure'
				>
					<label>[Live] SHA-OUT pass phrase</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4359' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='liveHashAlgorithm'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='select'
				>
					<label>[Live] Hash algorithm</label>
					<source_model>Dfe\PostFinance\Source\Hash\Algorithm</source_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/4362' target='_blank' title='[PostFinance] How to setup the «Hash algorithm» option?'>How to choose the right value?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='webhook'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
				>
					<label>Webhook</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4373' target='_blank' title='[PostFinance] How to setup a webhook?'>Set it in your PostFinance merchant interface</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='idPrefix'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
				>
					<label>Payment ID prefix</label>
					<comment><![CDATA[<p class='df-note'>This option allows you to define a prefix for the payment identificators (values of the <a href='https://e-payment-postfinance.v-psp.com/en/en/guides/integration%20guides/e-commerce#formparameters' target='_blank' title='«Integrate with PostFinance e-Commerce» → «4. Link your website to the payment page» → «4.2 Form parameters»'><code>ORDERID</code></a> API parameter).</p>
<p class='df-note'>In the most cases you do not need any prefix and can leave this option empty.</p>
<p class='df-note'>But there are some (rare) cases</a> when your PostFinance payment identifiers can potentially overlap with the previous ones:</p>
<ul class='df-note'>
<li>If you have changed (e.g., reset) your Magento order numeration scheme.</li>
<li>If you use a single PostFinance merchant account for multiple shops.</li>
</ul>
<p class='df-note'>If PostFinance encounters a payment identifier which has been already used for another payment, then it fails with the message: «<b>This order has already been processed</b>».</p>
<p class='df-note'>So to evade such situation you can define a prefix for the payment identifiers.</p>
<p class='df-note'>Please note that the full payment identifier length (prefix + order number) should be not greater than <a href='https://github.com/mage2pro/postfinance/blob/0.1.2/Charge.php#L79-L94' target='_blank' title='\Dfe\PostFinance\Charge::k_RequestId()'><b>40 characters</b></a>.</p>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
<!-- 2017-09-02
«The possible currencies on our platform are:
AED, ANG, ARS, AUD, AWG, BGN, BRL, BYR, CAD, CHF, CNY, CZK, DKK, EEK, EGP, EUR, GBP, GEL, HKD, HRK, HUF, ILS,
ISK, JPY, KRW, LTL, LVL, MAD, MXN, NOK, NZD, PLN, RON, RUB, SEK, SGD, SKK, THB, TRY, UAH, USD, XAF, XOF, XPF and ZAR.
If a merchant wants to accept payments in a currency that is not in our list, he can ask us to add the currency.
The currencies a merchant can accept payments in depend on the contract with his acquirer.»
[PostFinance] Which currencies are supported? https://mage2.pro/t/4446 -->
				<field
					id='currency'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='Df\Directory\FE\Currency'
				>
					<label>Payment Currency</label>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					translate='label'
					type='textarea'
					sortOrder='18'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed to you in the PostFinance merchant interface alongside the payment.
<br/>Up to 100 characters.
<br/>You can use <a href='https://mage2.pro/t/1834' target='_blank'>variables</a> in the description.]]></comment>
<!-- 2016-07-01
We do not use the `validate-length` validator here
because the value can contain variables, so do not know the real length here. -->
					<validate>required-entry</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='19'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='20'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='21'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='22'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='23'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>